* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}

h3 {
    font-size: 14px;
    margin-bottom: 4px;
    font-weight: 400;
    color: #111;
}

::selection {
    color: #ffffff;
    background: #000;
}

/* MAIN */

.main-wrapper {
    width: 930px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    height: 100%;
    margin-left: 60px;
    margin-right: 60px;
}

/* MAIN - INTRO-TEXT */

.introduction {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 25px;
}

/* MAIN - BUTTONS */

.info-button {
    width: 100px;
    margin-right: 15px;
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    line-height: 35px;
    outline: solid 2px #000;
    border: none;
    background-color: transparent;
}

.info-button:hover,
.project-button:hover {
    background-color: #000;
    color: #ffffff;
    transition: background-color 0.3s linear;
}

/* MAIN - TOOLTIP */

#email-tooltip {
    position: absolute;
    margin-top: 50px;
    margin-left: 10px;
}

/* MAIN - PROJECTS */

.project-wrapper {
    display: flex;
}

.project-img {
    margin-right: 0.9375rem;
    width: 4.0625rem;
    height: 4.0625rem;
    outline: solid 2px #000;
}

.project-title {
    font-size: 16px;
    color: #1a202c;
}

.project-text {
    line-height: 1.5;
    margin-right: 0.9375rem;
    color: #595959;
}

.project-description {
    max-width: 230px;
    font-size: 12px;
}

.project-button {
    align-self: center;
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 13px;
    outline: solid 2px #000;
    border: none;
    background-color: transparent;
    padding-top: 4px;
    padding-bottom: 4px;
}

/* CV */

.cv-wrapper {
    max-width: 540px;
    margin: 0 auto;
}

.link-back {
    position: relative;
    left: 100%;
}

/* CV - HEADER*/

.cv-header {
    display: flex;
}

.profile-wrapper {
    margin-right: 16px;
}

.profile-pic {
    width: 92px;
    height: 92px;
    margin: 0px;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-details h2,
p {
    margin: 0;
}

.profile-details p {
    color: #666;
}

.profile-name h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
}

.link a {
    color: #aaa;
}

/* CV - ABOUT*/

.about {
    margin: 36px 0;
}

.about p {
    font-size: 14px;
    line-height: 1.6;
    color: #666;
}

/* CV - PROJECTS*/

.projects {
    margin: 60px 0;
}

h3 + .experience {
    margin-top: 24px;
}

.experience {
    display: flex;
    flex-direction: row;
    margin: 36px 0;
}

.date {
    color: #aaa;
    margin-right: 89px;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-link {
    color: #111;
}

.title svg {
    margin-left: 2px;
}

.project-description p {
    color: #666;
}

@media screen and (max-width: 767px) {
    .introduction {
        font-size: 18px;
        margin-bottom: 36px;
    }
    .info-button {
        margin-bottom: 15px;
    }
    .person-info {
        text-align: center;
    }
    .info-button:active {
        background-color: #000;
        color: #ffffff;
        transition: background-color 0.3s linear;
    }
    #email-tooltip {
        margin-top: 100px;
        margin-left: 10px;
    }
    .cv-wrapper {
        margin-top: 150px;
    }
    .projects {
        margin: 0;
    }
    .link-back {
        bottom: 2%;
    }
    .link-back:active {
        text-decoration: underline;
    }
    a:active {
        text-decoration: underline;
    }
}
