* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
}

/* MAIN */

.main-wrapper {
    width: 930px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    height: 100%;
    margin-left: 60px;
    margin-right: 60px;
}

/* MAIN - INTRO-TEXT */

.introduction {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
}

/* MAIN - BUTTONS */

.info-button {
    width: 100px;
    margin-right: 15px;
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    line-height: 35px;
    outline: solid 2px #000;
    border: none;
    background-color: transparent;
}

.info-button:hover {
    background-color: #000;
    color: #ffffff;
    transition: background-color 0.3s linear;
}

/* MAIN - TOOLTIP */

.email-tooltip {
    position: absolute;
    transform: translateX(-500%);
    z-index: 1;
}

.tooltip-open .email-tooltip {
    margin-top: 50px;
    margin-left: 91px;
    transform: translateX(-100%);
}
